# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

# Generated folders & node modules

cordova_dist/www/
node_modules/
bower_components/
static/


