<div>
	<ul>
		<li>
			<a href="#home">
				<div>
					<span class="icon"></span>
					<span class="text">
						HOME
					</span>
					<span class="arrow"></span>
				</div>
			</a>
		</li>
		<li>
			<a href="#list">
				<div>
					<span class="icon"></span>
					<span class="text">
						LIST
					</span>
					<span class="arrow"></span>
				</div>
			</a>
		</li>
		<li>
			<a href="#details/1">
				<div>
					<span class="icon"></span>
					<span class="text">
						DETAILS
					</span>
					<span class="arrow"></span>
				</div>
			</a>
		</li>
	</ul>
</div>
