<div>
	<ul>
		<li class="profile">
			<div class="pic">
				<span></span>
			</div>
		</li>
		<li>
			<a href="#home">
				<div>
					<span class="icon"></span>
					<span class="text">
						PORTADA
					</span>
					<span class="arrow"></span>
				</div>
			</a>
		</li>
		<li>
			<a href="#home">
				<div>
					<span class="icon"></span>
					<span class="text">
						MIS PRODUCTOS
					</span>
					<span class="arrow"></span>
				</div>
			</a>
		</li>
		<li>
			<a href="#home">
				<div>
					<span class="icon"></span>
					<span class="text">
						TRANSFERENCIAS
					</span>
					<span class="arrow"></span>
				</div>
			</a>
		</li>
		<li>
			<a href="#list">
				<div>
					<span class="icon"></span>
					<span class="text">
						VIVIENDAS
					</span>
					<span class="arrow"></span>
				</div>
			</a>
		</li>
		<li>
			<a href="#home">
				<div>
					<span class="icon"></span>
					<span class="text">
						AREA PERSONAL
					</span>
					<span class="arrow"></span>
				</div>
			</a>
		</li>
		<li>
			<a href="#login">
				<div>
					<span class="icon"></span>
					<span class="text">
						SALIR
					</span>
					<span class="arrow"></span>
				</div>
			</a>
		</li>
	</ul>
</div>
