<div id="panel-region"></div>
<div id="main-region" class="table">
	<div id="main-region-locker"></div>			
	<div id="header-region" class="table-row"></div>				
	<div id="content-region" class="table-row"></div>
</div>		
<div id="preload-region" class="table">	
	<div class="table-row" style="height:100%;">
		<div class="table-cell">
			<div class="circle">
				<div class="loader"></div>
				<div class="logo"><div class="logo2"></div></div>
			</div>
		</div>
	</div>
	<div class="table-row" style="height:auto;backgroundd-color:#000;opacdity:.3;text-align:center;padding:5px;color: #777;">
		gdfgsdfgsdfgsdfgs
	</div>
</div>