<ul>
	<li class="table">
		<a href="#details/2" class="table-row">
			<div class="table-cell image uno">
				<span></span>
			</div>
			<div class="table-cell info">
				<div class="title">Piso en Gran Vía 68, Madrid</div>
				<div>El emblemático edificio Gran Vía 68 de Madrid vuelve a revivir ofreciendo 49 viviendas exclusivas totalmente nuevas, distribuidas en 11 plantas de 1, 2, 3 y 4 dormitorios, con inigualables calidades y todas las comodidades. Cuenta también con 5 espectaculares áticos de lujo al alcance de los gustos más exquisitos de la ciudad...</div>
			</div>
		</a>
	</li>
	<li class="table">
		<a href="#details/1" class="table-row">
			<div class="table-cell image dos">
				<span></span>
			</div>
			<div class="table-cell info">
				<div class="title">
Piso céntrico, Madrid</div>
				<div>El abanico de oportunidades que ofrece el centro de una gran ciudad con una gran oferta cultural, laboral, deportiva...al alcance de tu mano...</div>
			</div>
		</a>
	</li>
	<li class="table">
		<a href="#details/1" class="table-row">
			<div class="table-cell image tres">
				<span></span>
			</div>
			<div class="table-cell info">
				<div class="title">
Piso céntrico, Madrid</div>
				<div>El abanico de oportunidades que ofrece el centro de una gran ciudad con una gran oferta cultural, laboral, deportiva...al alcance de tu mano...</div>
			</div>
		</a>
	</li>
	<li class="table">
		<a href="#details/2" class="table-row">
			<div class="table-cell image cuatro">
				<span></span>
			</div>
			<div class="table-cell info">
				<div class="title">Piso en Gran Vía 68, Madrid</div>
				<div>El emblemático edificio Gran Vía 68 de Madrid vuelve a revivir ofreciendo 49 viviendas exclusivas totalmente nuevas, distribuidas en 11 plantas de 1, 2, 3 y 4 dormitorios, con inigualables calidades y todas las comodidades. Cuenta también con 5 espectaculares áticos de lujo al alcance de los gustos más exquisitos de la ciudad...</div>
			</div>
		</a>
	</li>
</ul>